.ipynb_checkpoints/
1-s2.0-S0921889013001127-main.pdf
Article1.pdf
Formulaire/
InterfaceLocale/.nlpQuery.py.kate-swp
InterfaceLocale/BERT-Relation-Extraction/.gitignore
InterfaceLocale/BERT-Relation-Extraction/.ipynb_checkpoints/
InterfaceLocale/BERT-Relation-Extraction/LICENSE
InterfaceLocale/BERT-Relation-Extraction/README.md
InterfaceLocale/BERT-Relation-Extraction/Relation-Classification/
InterfaceLocale/BERT-Relation-Extraction/additional_models/
InterfaceLocale/BERT-Relation-Extraction/results/
InterfaceLocale/BERT-Relation-Extraction/sample_data/
InterfaceLocale/BERT-Relation-Extraction/src/
InterfaceLocale/__pycache__/
InterfaceLocale/fewrel_zero_shot/.ipynb_checkpoints/
InterfaceLocale/fewrel_zero_shot/fewrel_zero_shot_colab.ipynb
InterfaceLocale/fewrel_zero_shot/fewrel_zero_shot_local.ipynb
InterfaceLocale/sam_vit_b_01ec64.pth
NLP/.ipynb_checkpoints/
NLP/BERT-Relation-Extraction/.gitignore
NLP/BERT-Relation-Extraction/.ipynb_checkpoints/
NLP/BERT-Relation-Extraction/LICENSE
NLP/BERT-Relation-Extraction/README.md
NLP/BERT-Relation-Extraction/Relation-Classification/
NLP/BERT-Relation-Extraction/additional_models/
NLP/BERT-Relation-Extraction/main_pretraining.py
NLP/BERT-Relation-Extraction/main_task.py
NLP/BERT-Relation-Extraction/results/
NLP/BERT-Relation-Extraction/sample_data/
NLP/BERT-Relation-Extraction/src/
NLP/BERT-Relation-Extraction_copy/
NLP/HuggingFaceBertFineTune.ipynb
NLP/HuggingFaceZeroShot.ipynb
NLP/InterpretationFinal.ipynb
NLP/OpenNRE/
NLP/TensorFlowHubFineTune.ipynb
NLP/aclImdb/
NLP/aclImdb_v1.tar.gz
NLP/bert-output-tensor-selection.png
NLP/distilBert_toxic.h5
NLP/jigsaw-toxic-comment-classification/
NLP/mc_model_save/
NLP/model.png
NLP/simpleBert.h5
PHD_Thesis_finale_16-12-2022-1.pdf
RLTuto/
Segmentation/.ipynb_checkpoints/
Segmentation/__pycache__/
Segmentation/example_image.jpg
Segmentation/mask.png
Segmentation/morning.jpg
Segmentation/sam_vit_b_01ec64.pth
Segmentation/sam_vit_h_4b8939.pth
Segmentation/truck.jpg
Segmentation/weights/
Segmentation/zero_shot_object_detection_clip.ipynb
TorchTuto/
Tutoriels/
Untitled.ipynb
article2.pdf
article3.pdf
camera/__pycache__/
camera/sam_vit_b_01ec64.pth
codeEmbedding/
flask/BasicsFlask/
flask/VideoStream/__pycache__/
flask/VideoStream/audio.mp3
flask/VideoStream/audio2.mp3
flask/VideoStream/nlp_old.py
flask/VideoStream/sam_vit_b_01ec64.pth
freeze.txt
ideas/
output.wav
socket/
voice/.ipynb_checkpoints/
voice/__pycache__/
voice/audio.mp3
voice/enregistrement.mp3
voice/enregistrement.ogx
voice/file.mp3
voice/file.wav
voice/output.wav
voice/recording.webm
voice/recording0.wav
voice/recording1.wav
