<html>
  <head>
    <title>Page de commande</title>
    <style>
	img {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 20%
	}
    </style>
  </head>
  <body>

    <img id="bg" src="{{ url_for('video_feed') }}" align="right" style="width: 30%">
    <h1 align="left">Paramétrage:</h1>
    <form method="post" action=".">
      <fieldset>
      <legend>Select a model:</legend>
      <div>
        <input type="radio" id="CLIPSeg" name="model" value="CLIPSeg"
               checked>
        <label for="CLIPSeg">CLIPSeg</label>
      </div>

      <div>
        <input type="radio" id="SAM" name="model" value="SAM">
        <label for="SAM">SAM</label>
      </div>

      <div>
        <input type="radio" id="None" name="model" value="None">
        <label for="None">None</label>
      </div>
      </fieldset><br><br>

      <p>Description de l'objet à rechercher: <input name="description" value="a pen"/> </p>

      <p><input type="submit" value="Valider" /></p>

    </form>
  </body>
</html>
