<html>
  <head>
    <title>Page de commande</title>
    <meta charset="utf-8">
    <style>
	img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%
	}
    </style>
  </head>
  <body>

    <img id="bg" src="{{ url_for('video_feed') }}" align="right" style="width: 30%" >
    <h1 align="left">Paramétrage:</h1>
    <form method="post" action=".">
      <fieldset>
      <legend>Select a model:</legend>
      <div>
        <input type="radio" id="CLIPSeg" name="model" value="CLIPSeg" {{checked[0]}}>
        <label for="CLIPSeg">CLIPSeg</label>
      </div>
      
      <div>
        <input type="radio" id="CLIPSeg mask only" name="model" value="CLIPSeg mask only" {{checked[1]}}>
        <label for="CLIPSeg mask only">CLIPSeg mask only</label>
      </div>

      <div>
        <input type="radio" id="CLIPSeg point only" name="model" value="CLIPSeg point only" {{checked[2]}}>
        <label for="CLIPSeg point only">CLIPSeg point only</label>
      </div>

      <div>
        <input type="radio" id="SAM" name="model" value="SAM" {{checked[3]}}>
        <label for="SAM">SAM</label>
      </div>

      <div>
        <input type="radio" id="None" name="model" value="None" {{checked[4]}}>
        <label for="None">None</label>
      </div>
      </fieldset><br><br>

      <p>Objet à rechercher (si aucun ordre ci-dessous): <input name="description" value="{{description}}"/> </p>

      <fieldset>
      <legend>Action à exécuter:</legend>
      <div>
        <input type="radio" id="Take" name="action" value="Take" {{checked_act[0]}}>
        <label for="Take">Take</label>
      </div>
      
      <div>
        <input type="radio" id="Drop" name="action" value="Drop" {{checked_act[1]}}>
        <label for="Drop">Drop</label>
      </div>

      <div>
        <input type="radio" id="Netiher" name="action" value="Neither" {{checked_act[2]}}>
        <label for="Neither">Neither</label>
      </div>
      </fieldset><br><br>

      <p>Action à exécuter (si aucun ordre audio ci-dessous): <input name="ordre" value="{{ordre}}"/> </p>

      <p>Action à exécuter audio:
      <input name="audio_file" value="{{audio_file}}" style="width: 500px;"/> </p>

      <p><input type="submit" value="Valider" /></p>

    </form>

  <p>
    Enregistrement d'un ordre:
  </p>
  <p>
    <button type="button" id="record">Record</button>
    <button type="button" id="stopRecord" disabled>Stop</button>
  </p>
  <p>
    <audio id="recordedAudio"></audio>
  </p>

  <script>
    navigator.mediaDevices.getUserMedia({audio:true})
    .then(stream => {handlerFunction(stream)})


    function handlerFunction(stream) {
      rec = new MediaRecorder(stream);
      rec.ondataavailable = e => {
        audioChunks.push(e.data);
        if (rec.state == "inactive"){
          let blob = new Blob(audioChunks,{type:'audio/mp3'});
          recordedAudio.src = URL.createObjectURL(blob);
          recordedAudio.controls=true;
          recordedAudio.autoplay=false;
          sendData(blob)
          }
        }
      }

    function sendData(data) {
        const url = window.URL.createObjectURL(data);
        const a = document.createElement('a');
        a.style.display = 'none';
        a.href = url;
        a.download = 'enregistrement.mp3';
        document.body.appendChild(a);
        a.click();
        setTimeout(() => {
            document.body.removeChild(a);
            window.URL.revokeObjectURL(url);
        }, 100);
    }

    record.onclick = e => {
    record.disabled = true;
    record.style.backgroundColor = "blue"
    stopRecord.disabled=false;
    audioChunks = [];
    rec.start();
    }

    stopRecord.onclick = e => {
    record.disabled = false;
    stop.disabled=true;
    record.style.backgroundColor = "red"
    rec.stop();
    }

  </script>

  </body>
</html>
